* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --community_box_heading_font_size:19px;
    --community_box_padding:16px 22px;
    --site_nav: 650px;
    --btn_padding: 9px 22px;
    --padding: 103px;
    --site_item_padding: 0 22px;
    --umidjon: 12px;
    --neutral-white: #fff;
    --neutral-silver: #f5f7fa;
    --neutral-grey-blue: #abbed1;
    --neutral-l-grey: #89939e;
    --neutral-grey: #717171;
    --neutral-d-grey: #4d4d4d;
    --neutral-black: #263238;
    --neutral-white-stroke: #abbed1;
    --brand-info: #2194f3;
    --brand-secondary: #263238;
    --brand-primary: #4caf4f;
    --shade-s1: #43a046;
    --shade-s2: #388e3b;
    --shade-s3: #237d31;
    --shade-s4: #1b5e1f;
    --shade-s5: #103e13;
    --tint-t1: #66bb69;
    --tint-t2: #81c784;
    --tint-t3: #a5d6a7;
    --tint-t4: #c8e6c9;
    --tint-t5: #e8f5e9;
    --action-success: #2e7d31;
    --action-error: #e53835;
    --action-warning: #fbc02d;
}

body {
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1002.34px;
    margin: 0 auto;
    box-shadow: 0 3px 6px 0 rgba(171, 190, 209, 0.4);
}

.flex {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-flex;
    align-items: center;
    border-radius: 3px;
    padding: var(--btn_padding);
    background: var(--brand-primary);
    outline: none;
    border: 0;
    font-weight: 500;
    font-size: var(--umidjon);
    cursor: pointer;
    color: white;
}

header {
    justify-content: space-between;
    height: 58px;
    padding: 0px var(--padding);
}

.site_nav {
    /* width: var(--site_nav); */
    /* justify-content: right; */
    /* border: 1px solid green; */
    border: 1px solid red;
}

.site_list {
    text-align: center;
    list-style: none;
}

.site_item {
    padding: var(--site_item_padding);
    text-align: center;
    /* border: 1px solid red; */
}

.site_link {
    font-size: 11px;
    line-height: 150%;
    text-align: center;
    text-decoration: none;
}





.hero {
    padding: 112px var(--padding);
    margin-bottom: 28px;
    background: #f5f7fa;
    background-image: url("./images/icons/Illustration.svg");
    background-repeat: no-repeat;
    background-position: 88% 50%;
}

.hero_content {
    width: 457px;
    height: 192px;
}

.hero_heading {
    font-weight: 600;
    font-size: 44px;
    line-height: 119%;
    margin-bottom: 11px;
}

.hero_span {
    color: #4caf4f;
}

.hero_desc {
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    margin-bottom: 22px;
}

.clients {
    flex-direction: column;
    padding: 0px var(--padding);
    margin-bottom: 28px;
}

.clients_heading {
    font-weight: 600;
    font-size: 25px;
    line-height: 122%;
    margin-bottom: 5.5px;
}

.clients_desc {
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    margin-bottom: 11px;
}

.clients_icons {
    width: 100%;
    justify-content: space-between;
    padding: 11px 0;
}

.community {
    width: 100%;
    padding: 0 var(--padding);
    text-align: center;
    margin-bottom: 26.3px;
}

.community_heading {
    /* width: 377px; */
    font-weight: 600;
    font-size: 25px;
    line-height: 122%;
    margin-bottom: 5px;
}

.community_desc {
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    margin-bottom: 11px;
}

.community_box_wrapper {
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.community_box {
    width: 208px;
    height: 182px;
    border-radius: 6px;
    padding: var(--community_box_padding);
    box-shadow: 0 1px 3px 0 rgba(171, 190, 209, 0.2);
    background: white;
}

.community_box_heading {
    font-weight: 700;
    font-size: var(--community_box_heading_font_size);
    line-height: 129%;
    margin-bottom: 6px;
}

.community_box_desc {
    font-weight: 400;
    font-size: 9px;
    line-height: 143%;
}

.community_box_wrapper img {
    margin-bottom: 11px;
}

.about {
    padding: 36px var(--padding);
    text-align: center;
    margin-bottom: 33px;
    border: 1px solid red;
}

.about_img {
    border: 1px solid red;
}

.about_content {
    margin-left: 34px;
    text-align: left;
    border: 1px solid red;
}

.about_heading {
    font-weight: 600;
    font-size: 24px;
    line-height: 122%;
    color: #717171;
    margin-bottom: 11px;
}

.about_desc {
    font-weight: 400;
    font-size: 9px;
    line-height: 143%;
    margin-bottom: 22px;
    color: #717171;

}

.help {
    justify-content: space-between;
    padding: 45px var(--padding);
    background: #f5f7fa;

}

.help_count {
    flex-wrap: wrap;
    width: 375px;
    justify-content: space-between;
}

.help_heading {
    font-weight: 600;
    font-size: 25px;
    line-height: 122%;
    margin-bottom: 5.57px;
}

.help_span {
    color: #4caf4f;
    ;
}

.help_desc {
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    color: #18191f;
}

.help_count {
    width: 375px;
    height: 113px;
}

.help_count_box {
    width: 177.5px;
    height: 43px;
    /* border: 1px solid red; */
}

.help_count_box div {
    margin-left: 11.4px;
}

.help_count_count {
    font-weight: 700;
    font-size: 19px;
    line-height: 129%;
}

.help_count_desc {
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
}

.design {
    padding: 33.41px var(--padding);
}

.design_content {
    width: 418px;
    height: 157px;
    margin-left: 34.33px;
}

.design_heading {
    font-weight: 600;
    font-size: 25px;
    line-height: 122%;
    margin-bottom: 11.4px;
}

.design_desc {
    font-weight: 400;
    font-size: 9px;
    line-height: 143%;
    margin-bottom: 22.27px;
}

.customer {
    justify-content: space-between;
    padding: 22px var(--padding);
    background: #f5f7fa;
    margin-bottom: 33px;
}

.customer_content {
    flex-direction: column;
    align-items: start;
    margin-left: 50px;

}

.customer_desc {
    font-weight: 500;
    font-size: 11px;
    line-height: 150%;
    margin-bottom: 11px;
    color: var(--neutral-grey)
}

.customer_custum {
    font-weight: 600;
    font-size: 13px;
    line-height: 140%;
    margin-bottom: 5.5px;
    color: var(--brand-primary);
}

.about_custom {
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    margin-bottom: 22px;
    color: var(--neutral-l-grey)
}

.custom_box_wrapper {
    width: 100%;
    justify-content: space-between;
}

.custom_link {
    font-weight: 600;
    font-size: 13px;
    line-height: 140%;
    color: var(--brand-primary);
}

.marketing {
    padding: 0 var(--padding);
    padding-bottom: 61px;
    text-align: center;
}

.marketing_heading {
    font-weight: 600;
    font-size: 25px;
    line-height: 122%;
    text-align: center;
    color: var(--neutral-d-grey);
    margin-bottom: 5.5px;
}

.marketing_desc {
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 11px;
    color: var(--neutral-grey);
}

.marketing_box_wrapper {
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
    justify-content: center;

}

.marketing_box {
    position: relative;
    width: 256px;
    height: 255px;
}

.box_content {
    position: absolute;
    top: 132px;
    left: 17.75px;
    border-radius: 6px;
    padding: 11px;
    width: 220px;
    height: 123px;
    box-shadow: 0 6px 11px 0 rgba(171, 190, 209, 0.4);
    background: var(--neutral-silver);
}

.box_content p {
    font-weight: 600;
    font-size: 13px;
    line-height: 140%;
    margin-bottom: 11px;
    text-align: center;
    color: var(--neutral-grey);
}

.box_content a {
    justify-content: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    line-height: 140%;
    color: var(--brand-primary);
}

.demo {
    padding: 22px var(--padding);
    text-align: center;
    background: var(--neutral-silver);
}

.demo_heading {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 22px;
    font-weight: 600;
    font-size: 44px;
    line-height: 119%;
    text-align: center;
    color: var(--neutral-black);
}

footer {
    padding: 44px var(--padding);
    background: var(--neutral-black);
    justify-content: space-between;
}

.copyright img {
    margin-bottom: 27.84px;
    cursor: pointer;
    margin-right: 11px;
    /* border: 1px solid red; */
}

.copyright p {
    margin-bottom: 27.84px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 9px;
    line-height: 143%;
    color: var(--neutral-silver);
}


.information {
    width: 442px;
    height: 170px;
    margin-top: 0;
    justify-content: space-between;
}

.company {
    color: var(--neutral-white);
}

.company_header {
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 16px;
}

.company_list {
    list-style: none;
}

.company_item {
    margin-bottom: 8.35px;
}

.company_link {
    text-decoration: none;
    font-weight: 400;
    font-size: 9px;
    line-height: 143%;
    color: var(--neutral-silver);
}

.stay_up {
    height: 100%;
    color: var(--neutral-white);
}

.stay_up_input {
    border-radius: 6px;
    width: 177px;
    height: 27px;
    padding: 6px 8px;
    background: #717171;
}

.stay_up_input input {
    width: 90%;
    border: none;
    outline: none;
    /* border: 1px solid red; */
    background: #717171;
}

.stay_up_input input::placeholder {
    color: white;
    font-size: 9px;
}

.stay_up_input img {
    cursor: pointer;
}

@media screen and (min-width:604px) and (max-width:868px) {

    :root {
        --padding: 20px;
        --site_item_padding: 0 5px;
        --btn_padding: 8px 10px;
        --umidjon: 10px;
    }

    .site_nav {
        justify-content: space-evenly;
        /* border: 1px solid red; */
    }

    .site_item {
        margin: 0 10px;
        /* border: 1px solid black; */
    }
}

@media screen and (min-width:400px) and (max-width:604px) {

    :root {
        --padding: 18px;
        --site_item_padding: 0 3px;
        --btn_padding: 8px 7px;
        --umidjon: 10px;
        --community_box_heading_font_size:15px;
        --community_box_padding:10px 11px;
    }

    .site_nav {
        justify-content: space-evenly;
        /* border: 1px solid red; */
    }

    .site_item {
        margin: 0 5px;
        border: 1px solid black;
    }
    .hero{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .hero_heading {
        font-weight: 600;
        font-size: 40px;
        line-height: 110%;
        margin-bottom: 11px;
    }
    .hero_content{
        text-align: center;
    }
    .hero{
        background-image: none;
    }
}